* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}

.header-wrapper {
    width: 100%;
    background: #000000;
    color: #ffffff;
}
.header {
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    /* border-right: 1px solid #ffffff; */
}
.categories {
    margin-left: 10px;
    display: flex;
}
.single-cat {
    margin-left: 10px;
}
.lg-cats-wrapper {
    width: 600px;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.menu-item {
    width: 20px;
}
.menu-item:hover {
    cursor: pointer;
}
.menu-item img {
    width: 100%;
}

.main-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-first {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.big-post {
    display: flex;
    width: 59%;
    justify-content: space-between;
}
.big-post-info {
    width: 270px;
}
.big-post-title {
    font-size: 2.2rem;
    font-weight: bold;
}
.big-post-small-title {
    margin-top: 4px;
    color: #5a5a5a;
}
.big-post-category {
    margin-top: 10px;
    color: #5a5a5a;
}
.big-post-image {
    width: 500px;
}
.big-post-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.two-posts {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.single-post {
    width: 260px;
}
.single-post .post-image {
    width: 100%;
}
.single-post .post-image img {
    width: 100%;
    object-fit: cover;
}
.single-post .post-title {
    font-weight: bold;
}
.single-post .post-small-title {
    margin-top: 5px;
    font-size: 14px;
    color: #5a5a5a;
}
.single-post .post-cat-time {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 10px;
}
.three-posts {
    width: 59%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.only-title-posts {
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.only-title-posts .post-cat-time {
    padding-bottom: 13px;
}

.one-section {
    width: 32%;
    

}
.section-title {
    font-weight: bold;
    background: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-top: 25px;
}
.featured-sec-top {
    font-weight: bold;
    background: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.main-single-post {
    width: 100%;
}
.main-single-post .post-image {
    width: 100%;

}
.main-single-post .post-image img {
    width: 100%;
    object-fit: cover;
}
.one-section-main-post {
    margin-top: 15px;
}
.main-single-post .post-title {
    font-weight: bold;
    font-size: 1.4rem;
}
.small-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #cacaca;
}
.small-post-image {
    width: 30%;
    padding-top: 5px;
}
.small-post-image img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.small-post-title {
    width: 67%;
    padding-top: 5px;
}

.featured-cats {
    margin-top: 15px;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}
.featured-cats-wrapper {
    display: flex;
    justify-content: space-between;
}
.featured-label {
    font-size: 2rem;
    font-weight: bold;

}
.right-sign {
    width: 5%;
    height: 20px;
    margin-right: 12px;
    /* background: gray; */
    /* padding: 12px; */
}
.right-sign img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    background: black;
    padding: 20px;
}
.footer-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media-icon {
    width: 25px;
}
.social-media-icon img {
    width: 100%;
    filter: invert(100%);
}
.footer-logo {
    color: white;
}
