* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* body {
    background: black;
    color: white;
} */
a {
	text-decoration: none;
	color: white;
}
#page-mask {
    display: none;
    background: rgba(0, 0, 0, 0.63);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    left: 0;
}
.login-wrapper {
    display: none;
    width: 500px;
    background: black;
    margin: 0 auto;
    color: white;
    z-index: 999;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-top {
    display: flex;
    width: 100%;
    border-bottom: 4px solid red;
}
.login-top .person-icon {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    margin-bottom: -30px;
    background: black;
    /* border: 1px solid red; */
    border-radius: 100%;
    padding: 16px;
}
.login-top .person-icon img {
    width: 100%;
    object-fit: cover;
}

.login-title {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.login {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.register a {
    font-weight: bold;
}
.register a:hover {
    text-decoration: underline;
}

.login-form {
    width:60%;
    margin: 0 auto;
    margin-top: 40px;
}
.row {
    width: 100%;
    margin-top: 10px;
}
.row .label {
    font-size: 13px;
}
.row input {
    width: 100%;
    background: black;
    border-color: whitesmoke;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    color: rgb(254, 254, 254);
    outline: none;
    transition: border-color 0.2s linear 0s;
    height: 40px;
    margin-top: 8px;
}

.forgot-password {
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
}
.forgot-password:hover {
    /* font-weight: bold; */
    text-decoration: underline;
}
.stay-logged {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.stay-logged .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    transition: 0.4s;
}
.stay-logged .checkbox:hover {
    cursor: pointer;
    background: whitesmoke;
}
.stay-logged-label {
    margin-left: 5px;

}

.login-btn {
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.login-btn:hover {
    cursor: pointer;
    background: #e70000;
    color: whitesmoke;
    transition: 0.4s;
}



.header-wrapper {
    width: 100%;
    /* background: #5a5a5a; */
    background: black;
    color: #ffffff;
}
.header {
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    /* border-right: 1px solid #ffffff; */
}
.categories {
    margin-left: 10px;
    display: flex;
}
.single-cat {
    margin-left: 10px;
}
.lg-cats-wrapper {
    width: 600px;
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.menu-item {
    width: 20px;
}
.menu-item:hover {
    cursor: pointer;
    filter: invert(50%);
    transition: 0.4s;
}
.menu-item img {
    width: 100%;
}

.main-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-first {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.big-post {
    display: flex;
    /* width: 59%; */
    justify-content: space-between;
}
.big-post-info {
    width: 270px;
}
.big-post-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
}
.big-post:hover {
    cursor: pointer;
}
.big-post:hover .big-post-title {
    cursor: pointer;
    color: #ab0000;
    transition: 0.4s;
}
.big-post-small-title {
    margin-top: 4px;
    color: #5a5a5a;
}
.big-post-category {
    margin-top: 10px;
    color: #5a5a5a;
    font-weight: bold;
}
.big-post-category a {
    color: #5a5a5a;
}
.big-post-category:hover {
    cursor: pointer;
    text-decoration: underline;
}
.big-post-image {
    width: 500px;
    margin-left: 20px;
}
.big-post-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.two-posts {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.single-post {
    width: 260px;
}
.single-post:hover {
    cursor: pointer;
}
.single-post:hover .post-title {
    color: #2f9fa1;
    text-decoration: underline;
    cursor: pointer;
    /* transition: 0.4s; */
}
.single-post .post-image {
    width: 260px;
    height: 153px;
}
.single-post .post-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.single-post .post-title {
    font-weight: bold;
    color: black;
}
.single-post .post-small-title {
    margin-top: 5px;
    font-size: 14px;
    color: #5a5a5a;
}
.single-post .post-cat-time {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 10px;
}
.post-cat-time a {
    color: #5a5a5a;
}
.post-cat-time a:hover {
    text-decoration: underline;
}
.three-posts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.only-title-posts {
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.only-title-posts .post-cat-time {
    padding-bottom: 13px;
}

.one-section {
    width: 32%;
    

}
.section-title {
    font-weight: bold;
    background: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-top: 25px;
}
.featured-sec-top {
    font-weight: bold;
    background: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.main-single-post {
    width: 100%;
}
.main-single-post:hover {
    text-decoration: underline;
    color: red;
}
.main-single-post .post-image {
    width: 100%;
    height: 300px;
}
.main-single-post .post-image img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.one-section-main-post {
    margin-top: 15px;
    color: black;
}
.main-single-post .post-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 15px;
}
.small-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #cacaca;
    color: black;
}
.small-post:hover {
    color: #2f9fa1;
    text-decoration: underline;
    cursor: pointer;
}
.small-post-image {
    width: 30%;
    padding-top: 5px;
}
.small-post-image img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.small-post-title {
    width: 67%;
    padding-top: 5px;
}

.featured-cats {
    margin-top: 15px;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}
.featured-cats-wrapper {
    display: flex;
    justify-content: space-between;
}
.featured-label {
    font-size: 2rem;
    font-weight: bold;

}
.right-sign {
    width: 5%;
    height: 20px;
    margin-right: 12px;
    /* background: gray; */
    /* padding: 12px; */
}
.right-sign img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    background: black;
    padding: 20px;
}
.footer-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social-media {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media-icon {
    width: 25px;
}
.social-media-icon img {
    width: 100%;
    filter: invert(100%);
}
.footer-logo {
    color: white;
}

.single-post-title {
    font-weight: bold;
    font-size: 40px;
}

.writer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.writer-image {
	width: 60px;
	height: 60px;
}
.writer-image img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
}
.writer-other-info {
    margin-left: 5px;
}

.wrapper-main-first {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
.post-image-text .post-text {
    width: 950px;
    padding-top: 20px;
}
.post-image-text .post-image {
    width: 950px;
    height: 500px;
}
.post-image-text .post-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.latest-news-label {
    margin-top: 10px;
}

.category-posts {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin-top: 20px;
}
.section-title-single-post {
    font-weight: bold;
    background: #f2f2f2;
    border-bottom: 1px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-top: 25px;
    width: 950px;
}

.social-media-share {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.social-share {
    width: 40px;
}
.social-share img {
    width: 100%;
}
.social-share img:hover {
    filter: invert(30%);
    cursor: pointer;
}
.social-space {
    margin-left: 5px;
}

.one-section-small-posts .section-title-single-post {
    width: 100%;
    margin-top: 0;
}

.new-header {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.big-header {
    width: 100%;
    background: black;
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
}
.big-header-part {
    color: #e70000;
}
.header-categories {
    
    display: flex;
}
.one-category {
    padding: 15px;
    color: black;
}
.one-category:hover {
    cursor: pointer;
    background: #e70000;
    color: whitesmoke;
    transition: 0.4s;
    /*border-bottom: 3px solid red;*/
}
.category-with-border {
    border-left: 1px solid black;
    /*border-right: 1px solid black;*/
}
.smaller-header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cat-rand-big {
    width: 49%;
    position: relative;
    display: flex;
}
.big-left-img {
    width: 100%;
    height: 400px;
    position: relative
}
.big-left-img img {
    width: 100%;
    height: 400px;
    object-position: cover;
}
.big-left-title {
    /*margin-top: -200px;*/
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 999;
    padding: 20px;
    width: 100%;
    font-size: 30px;
}

.caption-with-shadow {
    background: linear-gradient(to bottom, rgba(40, 40, 40, 0) 0%, rgba(0, 0, 0, 1) 100%);   
}

.big-left:hover {
    cursor: pointer;
}
.big-left:hover .big-left-title {
    text-decoration: underline;
}

.rand-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.smaller-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.right-smaller {
    width: 49%;
}
.smaller-post {
    width: 49%;
    position: relative;
}
.smaller-post:hover {
    cursor: pointer;
}
.smaller-post:hover .smaller-title {
    text-decoration: underline;
}
.smaller-title {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
}
.smaller-img {
    /*width: 47%;*/
    height: 200px; 
}
.smaller-img img {
    width: 100%;
    height: 200px;
}

.footer-bottom {
    width: 80%;
    margin: 0 auto;
    color: white;
    padding-top: 30px;
    display: flex;
}
.footer-bottom-item {
    margin-left: 13px;
    font-size: 15px;
}
.footer-bottom-item:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(150%);
}

.categories-section {
    /*width: 80%;*/
    /*margin: 0 auto;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: flex-start;
}
.featured-sec-title:hover {
    text-decoration: underline;
}

.mobile-header {
    display: none;
}
#post-main-section {
    width: 70%;
}
#latest-posts {
    margin-left: 10px;
}

@media only screen and (max-width: 992px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .main-section {
        width: 100%;
        margin: 0;
    }

    .main-first {
        flex-direction: column;
    }
    .big-post {
        flex-direction: column;
        margin-top: 20px;
    }
    .big-post-info {
        width: -webkit-fill-available;
        font-size: 2.5rem;
        padding: 10px;
        text-align: center;
    }
    .big-post-title {
        font-size: 3rem;
    }
    .big-post-image {
        width: -webkit-fill-available;
        margin-left: 0;
        padding: 10px;
        margin-top: 20px;
    }
    .big-post-image img {
        width: 100%;
        height: 500px;
    }

    .two-posts {
        width: 100%;
        padding: 10px;
    }
    .single-post {
        width: 49%;
        font-size: 3rem;
    }
    .single-post .post-image {
        width: 100%;
        height: 300px;
    }
    .single-post .post-image img {
        height: 300px;
        width: 100%;
    }
    .single-post .post-title {
        margin-top: 10px;
    }
    .single-post .post-small-title {
        font-size: 2rem;
    }

    .three-posts {
        flex-direction: column;
        padding: 10px;
    }
    .three-posts .single-post {
        width: 100%;
        margin-top: 20px;
    }
    .three-posts .single-post .post-image {
        width: 100%;
        height: 500px;
    }
    .three-posts .single-post .post-image img {
        width: 100%;
        height: 500px;
    }

    .categories-section {
        flex-direction: column;
        width: -webkit-fill-available;
        padding: 10px;
    }
    .one-section {
        width: 100%;
    }
    .featured-sec-top {
        font-size: 3rem;
        background: black;
        color: whitesmoke;
        padding: 20px;
    }
    .featured-sec-title {
        color: whitesmoke;
    }

    .right-sign img {
        filter: invert(100%);
    }

    .small-post {
        flex-direction: column;
        margin-top: 20px;
    }
    .small-post-image {
        width: 100%;
        height: 500px;
    }
    .small-post-image img {
        width: 100%;
        height: 500px;
    }
    .small-post-title {
        font-size: 2.5rem;
        width: 100%;
        margin-top: 15px;
    }

    .main-single-post .post-image {
        height: 500px;
    }
    .main-single-post .post-image img {
        height: 500px;
    }
    .main-single-post .post-title {
        font-size: 2.5rem;
    }

    .footer {
        margin-top: 30px;
    }
    .footer-bottom {
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }
    .footer-bottom-item {
        /*margin: 0 auto;*/
        font-size: 2.5rem;
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        display: none;  
    }
    .footer-right-wrapper {
        width: 100%;
    }
    .social-media {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .social-media-icon {
        width: 80px;
    }

    .new-header {
        display: none;
    }
    .mobile-header {
        display: flex;
        background: black;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-header .hamb-icon {
        width: 100px;
    }
    .mobile-header .hamb-icon img {
        width: 100%;
    }
    .mobile-header-search-icon {
        width: 100px;
    }
    .mobile-header-search-icon img {
        width: 100%;
    }
    .big-header {
        font-size: 50px;
    }
    .big-header-part {
        font-size: 50px;
    }

    .mobile-menu {
        width: 70%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        color: whitesmoke;
        padding: 20px;
        z-index: 999;
    }
    .mobile-menu-cats {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    }
    .mobile-menu-single-cat {
        font-size: 3rem;
        margin-top: 50px;
        text-align: center;
    }

    .mobile-menu-close {
        width: 100px;
        position: absolute;
        right: 20px;
    }
    .mobile-menu-close img {
        width: 100%;
    }

    .mobile-search {
        width: 100%;
        padding: 20px;
        background: black;
        color: whitesmoke;
    }
    .mobile-search input {
        width: 100%;
        padding: 20px;
        background: black;
        color: whitesmoke;
        font-size: 2.5rem;
        border: none;
        outline: none;
    }

    .wrapper-main-first {
        flex-direction: column;
    }
    #post-main-section {
        width: -webkit-fill-available;
    }
    .main-section {
        padding: 20px;
    }
    .single-post-title {
        font-size: 3.5rem;
    }

    .writer-image {
        width: 130px;
        height: 130px;
    }
    .writer-image img {
        width: 130px;
        height: 130px;
    }
    .writer-name {
        font-size: 2rem;
    }
    .last-updated {
        font-size: 2rem;
    }

    .post-image-text .post-image {
        width: -webkit-fill-available;
        height: 550px;
    }
    .post-image-text .post-image img {
        height: 550px;
    }
    .post-image-text .post-text {
        width: -webkit-fill-available;
    }

    .category-posts {
        flex-direction: column;
        width: -webkit-fill-available;
    }
    .category-posts .single-post {
        width: 100%;
        margin-top: 30px;
    }
    .category-posts .single-post .post-image {
        height: 500px;
    }
    .category-posts .single-post .post-image img {
        height: 500px;
    }

    .single-post .post-cat-time {
        font-size: 2rem;
    }

    .section-title-single-post {
        width: -webkit-fill-available;
        font-size: 3rem;
    }

    #latest-posts {
        margin-left: 0;
        margin-top: 50px;
    }

}