* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	background: #f7f7f7;
}
a {
	text-decoration: none;
	color: white;
}

/* scroll */
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }

.login-form {
	width: 300px;
	height: 300px;
	position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form h1 {
	text-align: center;
}
.login-form input {
	width: 100%;
	padding: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1rem;
	outline-color: #10c398;
}
.login-btn {
	padding: 20px;
	width: 100%;
	text-align: center;
	color: white;
	background: #1b1b1b;
}
.login-btn:hover {
	color: black;
	background: #10c398;
	cursor: pointer;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
/*.header {
	width: 100%;
	background: whitesmoke;
}
.categories {
	width: 500px;
	background: orange;
	display: flex;
}
.category {
	font-size: 1.3rem;
	padding: 20px;
	border-right: 1px solid whitesmoke;
	border-left: 1px solid whitesmoke;
}*/

.left-menu {
	background: #3d3942;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	color: whitesmoke;
	width: 290px;
	height: 100vh;
	overflow-y: scroll;
}
.left-menu-title {
	padding: 20px;
	font-size: 1.4rem;
	text-align: center;
}
.menu-item {
	width: 100%;
	padding: 10px;
	/* padding-left: 10px; */
	background: #3d3942;
	align-items: center;
	display: flex;
	font-size: 15px;
}
.active-menu-item {
	background: #956bc0;
}
.menu-item:hover {
	cursor: pointer; 
	/* color:#956bc0;  */
	background: #956bc0;
	/* border-left:2px solid #15c399;  */
	transition: .4s;
}
.menu-item img {
	width: 20px;
	color: white;
	/*filter: opacity(1) drop-shadow(0 0 0 white);*/
}
.menu-item-text {
	margin-left: 10px;
}
.label {
	background: #ababab;
	color: black;
	padding: 10px;
	padding-left: 10px;
	font-weight: bold;
}

/* cyan color #10c398 */

.right {
	margin-left: 300px;
}
.dashboard-title {
	font-size: 1.5rem;
	/*border-bottom: 1px solid whitesmoke;*/
}
.right-wrapper {
	padding: 20px;
}

.boxes {
	background: white;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	width: 1500px;
	padding: 20px;
	border-radius: 15px;
	width: 1000px;
}
.dashboard-box {
	width: 210px;
	/* background: red; */
	padding-top: 30px;
	padding-bottom: 30px;
}

.box-icon {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.box-icon img {
	width: 100%;
	height: 100%;
	filter: invert(50%);
}
.box-title {
	color: #c5c7cc;
	font-weight: bold;
	text-align: center;
}
.box-number {
	font-size: 3em;
	text-align: center;
	font-weight: lighter;
}
.middle {
	border-left: 1px solid whitesmoke;
	border-right: 1px solid whitesmoke;
}

.dashboard-box-small {
	width: 340px;
	padding: 30px;
	border: 1px solid whitesmoke;
	-webkit-box-shadow: 0px 0px 21px -9px rgba(189,21,189,1);
	-moz-box-shadow: 0px 0px 21px -9px rgba(189,21,189,1);
	box-shadow: 0px 0px 21px -9px rgba(189,21,189,1);
}
.todays-results {
	margin-top: 30px;
	width: 700px;
}
.search {
	padding: 20px;
	padding-left: 5px;
	font-size: 1.5rem;
	width: 1000px;
}

.users-header {
	width: 1000px;
	padding: 20px;
	background: #dcdcdc;
	display: flex;
	justify-content: space-between;
	border-radius: 15px;
}
.single-user {
	width: 1000px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}
.signup-date {
	width: 200px;
	text-align: center;
}
.user-id {
	width: 200px;
	text-align: center;
}
.user-name {
	width: 300px;
	text-align: center;
}

.all-posts {
	width: 700px;
	/*border: 1px solid whitesmoke;*/
	padding: 3px;
}
.post-wrapper {
	width: 1000px;
	border:1px solid whitesmoke;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.post-category {
	width: 200px;
	background: #dcdcdc;
	padding-top: 55px;
}
.post-image-wrapper {
	width: 200px;
}
.post-image-wrapper img {
	width: 184px;
    height: 155px;
	object-fit: cover;
}
.post-other-info {
	width: 450px;
}
.cat-title-posts {
	text-align: center;
	color: #ababab;
	/* font-size: 1.1rem; */
}
.cat-name {
	text-align: center;
	font-size: 1.5rem;
}
.buttons {
	width: 100px;
	border-left: 1px solid whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.buttons a {
	height: 50%;
}
.edit-wrapper {
	width: 100px;
	height: 100%;
	text-align: center;
	border-bottom: 1px solid whitesmoke;
	padding-top: 23px;
}
.edit-wrapper:hover {
	background: #dcdcdc;
	/* background: #048468; */
	cursor: pointer;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
.delete-wrapper {
	width: 100px;
	text-align: center;
	height: 100%;
	padding-top: 23px;
}
.delete-wrapper:hover {
	background: #dcdcdc;
	cursor: pointer;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
.edit-wrapper img {
	width: 30%;
	margin: 0 auto;
}
.delete-wrapper img {
	width: 30%;
	margin: 0 auto;
}

.post-other-info div {
	margin-top: 10px;
}
.error-div {
	display: none;
	width: 100%;
	background: red;
	color: whitesmoke;
	padding: 10px;
	text-align: center;
}

.imghi img{
	background: white;
	height: 300px;
	margin-top: 20px;
	border-radius: 10px;
	align-items: center;
	width: 680px;
	display: flex;
	justify-content: center;
	object-fit: cover;
	cursor: pointer;
}

.new-post-input {
	width: 500px;
	padding: 20px;
	font-size: 1.5rem;
	background: white;
	border: none;
	border-radius: 10px;
	outline-color: #10c398;
}

.save-btn {
	padding: 10px;
	background: #08a07f;
	width: 250px;
	text-align: center;
	color: whitesmoke;
	border-radius: 10px;
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	border: none;
}
.save-btn img {
	width: 20px;
	filter: invert(100%);
	margin-left: 58px;
	
}
.save-btn span {
	margin-left: 10px;
}
.save-btn:hover {
	cursor: pointer;
	background: #048468;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.cat-wrapper {
	display: flex;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	width: 900px;
	margin-top: 20px;
}
.cat-title {
	width: 200px;
	text-align: center;
	background: whitesmoke;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 1.5rem;
	border-radius: 10px;
}
.more-info {
	display: flex;
}
.position {
	width: 200px;
	padding-top: 25px;
}
.views {
	width: 200px;
	padding: 50px;
}
.posts {
	width: 200px;
	padding: 50px;
}
.cat-label {
	width: 200px;
	text-align: center;
	margin: 0 auto;
	color: #08a07f;
}
.number {
	font-size: 2rem;
	text-align: center;
}
.all-users {
	border: 2px solid whitesmoke;
	border-top: none;
}

.today-users {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 470px;
}
.today-users:hover {
	transform: scale(1.1);
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 24px -4px rgba(0,255,242,1);
	-moz-box-shadow: 0px 2px 24px -4px rgba(0,255,242,1);
	box-shadow: 0px 2px 24px -4px rgba(0,255,242,1);
}
.overall-users-box:hover {
	transform: scale(1.1);
	cursor: pointer;
	-webkit-box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
	-moz-box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
	box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
}
.page-mask {
	display: none;
	background: rgba(0, 0, 0, 0.63);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
	left: 0;
}
.popup {
	display: none;
	background: white;
	width: 500px;
	height: 300px;
	position: absolute;
    top:  50%;
    left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
}
.popup-wrapper {
	/* background: red;
	width: 100px;
	height: 100px;
	position: absolute;
    top:  50%;
    left: 50%;
	transform: translate(-50%,-50%); */
	padding: 30px;
	padding-top: 80px;
}
.popup-wrapper h2 {
	text-align: center;
}
.cat-error-div {
	display: none;
	width: 100%;
	background: red;
	padding: 10px;
	text-align: center;
	color: whitesmoke;
	/* margin-bottom: 10px; */
}
#overall-users {
	background: linear-gradient(#ff7e42, #ffba60);
	border-radius: 20px;
}
#today-users {
	background: linear-gradient(#22c08b, #21b3a6);
	border-radius: 20px;
	width: 470px;
}
.today-users-title {
	color: whitesmoke;
}
.today-users-number-label {
	color: whitesmoke;
}
.overall-users-label {
	color: black;
}
.overall-users-box {
	-webkit-box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
	-moz-box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
	box-shadow: 0px 12px 24px -10px rgba(255,119,0,1);
	width: 470px;
}


.admin-name-wrapper {
	margin-left: 10px;
}
.logged-in-admin {
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
}
.admin-image {
	width: 50px;
	height: 50px;
}
.admin-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.indicator {
	width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px;
	margin-right: 5px;
}
.indicator-color {
	background: #8ad919;
}
.online-status {
	font-size: 13px;
}

.mobile-menu {
	display: none;
}
.dropdown {
	display: none;
}

@media only screen and (max-width: 992px) {
    /* header */

    html, body {
        max-width: 100%;
        overflow-x: hidden;
	}

	.left-menu {
		display: none;
	}

	.right {
		margin-left: 0;
	}

	.mobile-menu {
		display: block;
		width: -webkit-fill-available;
		/* height: 40px; */
		background: black;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		color: white;
	}
	.hamb {
		width: 100px;
	}
	.hamb img {
		width: 100%;

	}
	.mobile-title {
		font-size: 3.6rem
	}

	 /* dropdown */
	 .dropdown {
		background: #0a0a0a;
		width: -webkit-fill-available;
		padding-bottom: 20px;
		padding-top: 10px;
		display: none;
		position: absolute;
		top: 120px;
		box-shadow: 0px 9px 9px 0 rgba(0, 0, 0, 0.92), 0px 8px 9px 0px rgba(0, 0, 0, 0.74);
		border-radius: 13px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		z-index: 999;
	  }
	  .dropdown-wrapper {
		width: -webkit-fill-available;
		padding: 20px;
		padding-top: 0;
	  }
	  .menu_label {
		color: white;
		display: flex;
		justify-content: space-between;
		background: #0a0a0a;
		font-size: 2.5rem;
		padding-left: 27px;
		padding-bottom: 30px;
		padding-top: 30px;
		width: -webkit-fill-available;
	  }
	  .menu_label-under{
		color: white;
		display: none;
		justify-content: space-between;
		background: #0a0a0a;
		font-size: 2.5rem;
		/* padding: 13px; */
		padding-left: 13px;
		padding-right: 13px;
		border-bottom: 1px solid black;
		width: -webkit-fill-available;
	  }
	  .more-down{
		display: block;
		height: 8px;
		width: 29px;
		padding-bottom: 10px;
	  }
	  .more-down img {
		display: block;
		height: 50px;
		/* margin-top: 5px; */
		/* margin-left: 1px; */
		filter: brightness(3.5);
		opacity: 0.3;
	  }
	  .menu_item {
		background: #0a0a0a;
		margin-bottom: 0;
	  }
	  .menu_item_more {
		color: #fff;
		margin-bottom: 1px;
		font-size: 2.5rem;
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
		background: #151515;
		width: -webkit-fill-available;
	  }

	.dashboard-title {
		font-size: 3rem;
	}
	.todays-results label {
		font-size: 2.5rem;
	}
	.boxes {
		width: -webkit-fill-available;
		display: block;
	}

	.dashboard-box {
		width: -webkit-fill-available;
	}
	.dashboard-box .box-number {
		font-size: 7rem;
	}

	.box-icon {
		width: 70px;
		height: 70px;
	}

	.dashboard-box-small {
		width: -webkit-fill-available;
	}

	#today-users {
		width: -webkit-fill-available;
	}

	.todays-results {
		width: -webkit-fill-available;
	}

	.today-users-title {
		font-size: 3rem;
	}

	.overall-users-label {
		font-size: 3rem;
	}

	.search {
		width: -webkit-fill-available;
		font-size: 2.5rem;
	}

	.users-header {
		width: -webkit-fill-available;
		font-size: 2.5rem;
	}

	.single-user {
		width: -webkit-fill-available;
		font-size: 2.5rem;
	}

	.all-posts {
		width: -webkit-fill-available;
	}
	.post-wrapper {
		width: -webkit-fill-available;
		flex-direction: column;
	}

	.post-image-wrapper {
		width: -webkit-fill-available;
	}
	.post-image-wrapper img {
		width: 100%;
		height: 500px;
	}
	.post-other-info {
		width: -webkit-fill-available;
	}
	.post-title {
		font-size: 2.5rem;
	}
	.post-category {
		width: -webkit-fill-available;
		font-size: 2.5rem;
		padding-bottom: 55px;
		margin-top: 2rem;
	}
	.post-other-info div {
		margin-top: 2rem;
	}

	.buttons {
		width: -webkit-fill-available;
		display: flex;
	}

	.edit-wrapper {
		width: -webkit-fill-available;
		/*width: 50%;*/
	}
	.edit-wrapper img {
		width: 10%;
	}

	.delete-wrapper {
		width: -webkit-fill-available;
		/*width: 50%;*/
	}
	.delete-wrapper img {
		width: 10%;
	}

	.imghi img {
		width: -webkit-fill-available;
		height: 400px;
	}

	.new-post-input {
		width: -webkit-fill-available;
		font-size: 2.5rem;
		margin-top: 20px;
	}

	.save-btn {
		width: -webkit-fill-available;
		font-size: 3rem;
		justify-content: center;
		padding: 20px;
		margin-top: 30px;
	}
	.save-btn img {
		width: 40px;
		margin-left: 0;
	}

	.cat-wrapper {
		flex-direction: column;
		width: -webkit-fill-available;
		border-top :1px solid black;
		margin-top: 60px;
	}
	.cat-title {
		width: -webkit-fill-available;
		font-size: 3rem;
		background: #ebebeb;
	}
	.more-info {
		flex-direction: column;
		/*justify-content: center;*/
		align-items: center;
	}
	.position {
		font-size: 3rem;
		width: -webkit-fill-available;
	}
	.cat-label{
		width: -webkit-fill-available;
		text-align: center;
	}
	.number {
		font-size: 3rem;
	}
}